openapi: 3.1.0
info:
  title: 호갱노노 (Hogangnono) Web API
  version: 2.5.0-reverse-engineered
  description: "역공학으로 추출된 호갱노노(hogangnono.com) 비공식 OpenAPI 3.1 스펙.\n\n## 수집 방식\n- Chrome DevTools MCP를 통해 hogangnono.com 메뉴들을\
    \ 클릭하며 HAR 캡처\n- 프론트엔드 번들(`/dist/.../web/desktop.js`) 내부 `requestMaker({id, path, verb, parameters})` 호출 트리에서 endpoint\
    \ 정의 자동 추출\n- 검색·필터·평형·가격 등 주요 쿼리 파라미터는 번들 내 description 그대로 보존\n- 실제 호출 응답으로 envelope 형태 검증\n\n## 인증\n- 세션 쿠키: `connect.sid`\n\
    - 또는 헤더: `X-HOGANGNONO-API-KEY` + `X-HOGANGNONO-AT`(익명 ID)\n\n## 공통 헤더\n- `accept: application/json`\n- `x-hogangnono-app-name:\
    \ hogangnono`\n- `x-hogangnono-platform: desktop|mobile|app`\n- `x-hogangnono-api-version: 2.5.0`\n- `x-hogangnono-release-version:\
    \ 2.5.0.x`\n- `x-hogangnono-at`: 익명 ID\n- `x-hogangnono-ct`: 클라이언트 timestamp(ms)\n- `x-hogangnono-event-log`: 이벤트 로그 해시\n\
    - `x-hogangnono-event-duration`: 이벤트 지속시간(ms)\n\n## 응답 envelope\n대부분의 v2 endpoint:\n```\n{ \"status\": \"success\", \"\
    data\": ... }\n{ \"status\": \"error\", \"message\": \"...\" }\n```\n\n## 자주 쓰이는 enum\n- `tradeType`: 0=매매, 1=전세, 2=월세\n\
    - `aptType`: -1=ALL, 0=APT, 1=OFFICETEL, -3=AUCTION, -4=RECONSTRUCTION,\n  -5=OFFER_APT, -6=OFFER_OFFICETEL, -7=OFFER_APT_GOVERNMENT,\
    \ -8=OFFER_APT_COMMERCIAL\n- `auctionState`: -1=NONE, 0=NEW, 1=ONE_FAIL, 2=TWO_FAIL_OVER, 99=SELLING\n- `rankType` (최신):\
    \ 0=이번주, 1=지난주, 2=이번달, 3=지난달, 4=올해, 5=작년\n- `rankOrder`: PRICE_ASC, PRICE_DESC, PERCENTAGE_ASC, PERCENTAGE_DESC\n- `aisleTypes`\
    \ (현관구조): 1=계단식, 2=복도식, 4=복합식 (콤마 구분)\n- `heatTypes` (난방방식): 1=지역난방, 2=중앙난방, 3=개별난방 (콤마 구분)\n- `householderType`: 0=집주인-자가,\
    \ 1=집주인-임대, 2=세입자-전세, 3=세입자-월세\n- `offerType`: commercial=민간, government=공공\n- `communityType`: apts | expert-columns\
    \ | regions\n"
servers:
- url: https://hogangnono.com
  description: Production
- url: https://static.hogangnono.com
  description: Static asset CDN
tags:
- name: Apartment
- name: Asset / Loan
- name: Auction
- name: B2B
- name: Chat
- name: Community
- name: Map
- name: Map Overlay
- name: Misc
- name: News
- name: Notifications
- name: Ranking
- name: Sale (My)
- name: Search
- name: Subscriptions / Offers
- name: User & Auth
security:
- sessionCookie: []
- apiKeyHeader: []
- {}
components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: connect.sid
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-HOGANGNONO-API-KEY
  responses:
    Unauthorized:
      description: 인증 필요
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    StatusEnvelope:
      type: object
      required:
      - status
      properties:
        status:
          type: string
          enum:
          - success
          - error
        data: {}
        message:
          type: string
    Error:
      type: object
      properties:
        status:
          type: string
          enum:
          - error
        message:
          type: string
    LatLng:
      type: object
      properties:
        lat:
          type: number
        lng:
          type: number
    LatLon:
      type: object
      properties:
        lat:
          type: number
        lon:
          type: number
    AptCluster:
      type: object
      additionalProperties: true
      properties:
        id:
          type: integer
        region_code:
          type: string
        lat:
          type: number
        lng:
          type: number
        poiType:
          type: string
          enum:
          - cluster
          - apt
          - dong
        real_trade_price:
          type: number
          description: 실거래가 평균 (만원)
        real_rent_price:
          type: number
          description: 실전세가 평균 (만원)
        portal_trade_price:
          type: number
        portal_rent_price:
          type: number
        realtime:
          type: object
          properties:
            visitor:
              type: integer
            rank:
              type: integer
        content:
          type: object
          additionalProperties: true
    SearchSuggestion:
      type: object
      additionalProperties: true
      properties:
        id:
          type: string
          description: 단지 hash
        type:
          type: integer
        type_name:
          type: string
        name:
          type: string
        address:
          type: string
        road_address:
          type: string
        household:
          type: integer
        trade_count:
          type: integer
        region_code:
          type: string
        rank_point:
          type: number
        lat:
          type: number
        lng:
          type: number
        location:
          $ref: '#/components/schemas/LatLon'
        start_date:
          type: string
          format: date-time
paths:
  /api/v2/activity-logs/collect:
    get:
      tags:
      - Misc
      summary: collectByQuery
      operationId: collectByQuery
      parameters:
      - name: type
        in: query
        required: true
        schema:
          type: string
      - name: version
        in: query
        required: true
        schema:
          type: string
      - name: platform
        in: query
        required: true
        schema:
          type: string
      - name: user-agent
        in: header
        required: true
        schema:
          type: string
      - name: adid
        in: query
        required: false
        schema:
          type: string
      - name: sid
        in: query
        required: false
        schema:
          type: string
      - name: appsflyerId
        in: query
        required: false
        schema:
          type: string
      - name: manufacturer
        in: query
        required: false
        schema:
          type: string
      - name: modelVersion
        in: query
        required: false
        schema:
          type: string
      - name: osVersion
        in: query
        required: false
        schema:
          type: string
      - name: releaseVersion
        in: query
        required: false
        schema:
          type: string
      - name: logSeq
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Misc
      summary: collectByBody
      operationId: collectByBody
      parameters:
      - name: user-agent
        in: header
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                version:
                  type: string
                platform:
                  type: string
                adid:
                  type: string
                sid:
                  type: string
                appsflyerId:
                  type: string
                manufacturer:
                  type: string
                modelVersion:
                  type: string
                osVersion:
                  type: string
                releaseVersion:
                  type: string
                logSeq:
                  type: string
                data:
                  type: string
              required:
              - type
              - version
              - platform
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/ads:
    get:
      tags:
      - Map Overlay
      summary: getAds
      operationId: getAds
      parameters:
      - name: type
        in: query
        required: true
        schema:
          type: string
        description: '0: 배너-단지상세, 1: 배너-매물상세, 2: 배너-이야기, 3: 배너-알림센터, 4: 스플레시'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/ads/markers/bounding:
    get:
      tags:
      - Map Overlay
      summary: getAdsMarkersBounding
      operationId: getAdsMarkersBounding
      parameters:
      - name: startX
        in: query
        required: true
        schema:
          type: number
          format: double
      - name: endX
        in: query
        required: true
        schema:
          type: number
          format: double
      - name: startY
        in: query
        required: true
        schema:
          type: number
          format: double
      - name: endY
        in: query
        required: true
        schema:
          type: number
          format: double
      - name: map
        in: query
        required: true
        schema:
          type: string
      - name: level
        in: query
        required: true
        schema:
          type: integer
      - name: screenWidth
        in: query
        required: false
        schema:
          type: integer
      - name: screenHeight
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/ads/markers/store/bounding:
    get:
      tags:
      - Map Overlay
      summary: getStoreMarkersBounding
      operationId: getStoreMarkersBounding
      parameters:
      - name: startX
        in: query
        required: true
        schema:
          type: number
          format: double
      - name: endX
        in: query
        required: true
        schema:
          type: number
          format: double
      - name: startY
        in: query
        required: true
        schema:
          type: number
          format: double
      - name: endY
        in: query
        required: true
        schema:
          type: number
          format: double
      - name: map
        in: query
        required: true
        schema:
          type: string
      - name: level
        in: query
        required: true
        schema:
          type: integer
      - name: screenWidth
        in: query
        required: false
        schema:
          type: integer
      - name: screenHeight
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/ad-managers/adid-groups:
    get:
      tags:
      - B2B
      summary: getAdidGroups
      operationId: getAdidGroups
      parameters:
      - name: adid
        in: query
        required: true
        schema:
          type: string
        description: adid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/ad-managers/apt-groups:
    get:
      tags:
      - B2B
      summary: getAptGroups
      operationId: getAptGroups
      parameters:
      - name: aptHash
        in: query
        required: true
        schema:
          type: string
        description: 아파트 해시
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/agents/{userId}:
    get:
      tags:
      - Misc
      summary: getAgentDetail
      operationId: getAgentDetail
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
        description: 중개사 ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/agents/{agentId}/items:
    get:
      tags:
      - Sale (My)
      summary: getAgentItems
      operationId: getAgentItems
      parameters:
      - name: agentId
        in: path
        required: true
        schema:
          type: string
        description: 중개사 ID
      - name: limit
        in: query
        required: false
        schema:
          type: integer
        description: 매물 목록수
      - name: offset
        in: query
        required: false
        schema:
          type: integer
      - name: itemIds
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 해당 중개사가 관리하는 특정 매물들을 가져오고 싶을 때 사용
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/agents/{agentId}/local-inquiry:
    post:
      tags:
      - Misc
      summary: postLocalAgentInquiry
      operationId: postLocalAgentInquiry
      parameters:
      - name: agentId
        in: path
        required: true
        schema:
          type: string
        description: 중개사 번호
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recommendAptRequestId:
                  type: integer
                  description: 추천 아파트 요청 id(recommend_apt_request.id)
                callType:
                  type: string
                  enum:
                  - call
                  - callback
                  description: '바로전화걸기: call, 콜백요청: callback'
                uuid:
                  type: string
                  description: 문의자의 UUID
              required:
              - callType
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/agents/{agentId}/reviews:
    get:
      tags:
      - Misc
      summary: getAgentReviews
      operationId: getAgentReviews
      parameters:
      - name: agentId
        in: path
        required: true
        schema:
          type: string
        description: 중개사 ID
      - name: offset
        in: query
        required: false
        schema:
          type: integer
      - name: limit
        in: query
        required: false
        schema:
          type: integer
        description: 한 페이지에 보여질 목록수
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Misc
      summary: postAgentReview
      operationId: postAgentReview
      parameters:
      - name: agentId
        in: path
        required: true
        schema:
          type: string
        description: 중개사 ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reviewRequestId:
                  type: integer
                  description: 리뷰요청 Id
                score:
                  type: string
                content:
                  type: string
              required:
              - reviewRequestId
              - score
              - content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/agents/reviews/{reviewId}:
    delete:
      tags:
      - Misc
      summary: deleteAgentReview
      operationId: deleteAgentReview
      parameters:
      - name: reviewId
        in: path
        required: true
        schema:
          type: string
        description: 리뷰 ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/agora/token:
    get:
      tags:
      - Chat
      summary: getAgoraToken
      operationId: getAgoraToken
      parameters:
      - name: channel
        in: query
        required: true
        schema:
          type: string
      - name: userNo
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/agora/channel:
    get:
      tags:
      - Chat
      summary: getChannel
      operationId: getChannel
      parameters:
      - name: channelName
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/agora/channel/join:
    put:
      tags:
      - Chat
      summary: joinChannel
      operationId: joinChannel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                channelName:
                  type: string
                uid:
                  type: string
                nickname:
                  type: string
                videoType:
                  type: string
                userType:
                  type: string
                screenOwnerUid:
                  type: string
              required:
              - channelName
              - uid
              - videoType
              - userType
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/agora/channel/leave:
    put:
      tags:
      - Chat
      summary: leaveChannel
      operationId: leaveChannel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                channelName:
                  type: string
                uid:
                  type: string
              required:
              - channelName
              - uid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/agora/channel/user:
    get:
      tags:
      - Chat
      summary: getChannelUser
      operationId: getChannelUser
      parameters:
      - name: channelName
        in: query
        required: true
        schema:
          type: string
      - name: uid
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/agora/faq:
    get:
      tags:
      - Chat
      summary: getAgoraFaqs
      operationId: getAgoraFaqs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/ai-agent/token:
    get:
      tags:
      - Chat
      summary: getAiAgentToken
      operationId: getAiAgentToken
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/b2b/alimtalk/item-ad-on:
    post:
      tags:
      - Sale (My)
      summary: sendItemAdOnAlimTalk
      operationId: sendItemAdOnAlimTalk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                itemId:
                  type: string
                  description: 매물 ID
                userMobile:
                  type: string
                  description: 사용자 전화번호. 집내놓기 한 전화번호로 발송한다.
                userId:
                  type: string
                  description: 사용자 id
              required:
              - itemId
              - userMobile
              - userId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/b2b/alimtalk/inquiry-answered/apt:
    post:
      tags:
      - B2B
      summary: sendAptInquiryAnswered
      operationId: sendAptInquiryAnswered
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  description: 사용자 id
                agentId:
                  type: string
                  description: 중개사 id
                userMobile:
                  type: string
                  description: 사용자가 문의한 전화번호.
                inquiryDate:
                  type: string
                  description: 사용자의 문의일시
                zigbangAptId:
                  type: string
                  description: 직방아파트 ID
              required:
              - userId
              - agentId
              - userMobile
              - inquiryDate
              - zigbangAptId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/b2b/alimtalk/inquiry-answered/item:
    post:
      tags:
      - B2B
      summary: sendItemInquiryAnswered
      operationId: sendItemInquiryAnswered
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  description: 사용자 id
                agentId:
                  type: string
                  description: 중개사 id
                userMobile:
                  type: string
                  description: 사용자가 문의한 전화번호.
                inquiryDate:
                  type: string
                  description: 사용자의 문의일시
                zigbangAptId:
                  type: string
                  description: 직방아파트 ID
                itemId:
                  type: string
                  description: 매물 ID
              required:
              - userId
              - agentId
              - userMobile
              - inquiryDate
              - zigbangAptId
              - itemId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/b2b/alimtalk/inquiry-answered/local:
    post:
      tags:
      - B2B
      summary: sendLocalInquiryAnswered
      operationId: sendLocalInquiryAnswered
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  description: 사용자 id
                agentId:
                  type: string
                  description: 중개사 id
                userMobile:
                  type: string
                  description: 사용자가 문의한 전화번호.
                inquiryDate:
                  type: string
                  description: 사용자의 문의일시
                regionCode:
                  type: string
                  description: local2 또는 local3. local4로 들어오는 경우 local3로 바꿔서 처리한다.
              required:
              - userId
              - agentId
              - userMobile
              - inquiryDate
              - regionCode
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/b2b/alimtalk/inquiry-answered/recommend-apt:
    post:
      tags:
      - B2B
      summary: sendRecommendAptInquiryAnswered
      operationId: sendRecommendAptInquiryAnswered
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  description: 사용자 id
                agentId:
                  type: string
                  description: 중개사 id
                userMobile:
                  type: string
                  description: 사용자가 문의한 전화번호.
                inquiryDate:
                  type: string
                  description: 사용자의 문의일시
                regionCode:
                  type: string
                  description: 지역코드
              required:
              - userId
              - agentId
              - userMobile
              - inquiryDate
              - regionCode
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/b2b/alimtalk/refresh-item:
    post:
      tags:
      - B2B
      summary: sendRefreshItem
      operationId: sendRefreshItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                list:
                  type: string
                  description: 리프레시 알림톡 정보
              required:
              - list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/b2b/alimtalk/closed-item:
    post:
      tags:
      - B2B
      summary: sendClosedItem
      operationId: sendClosedItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                list:
                  type: string
                  description: 종료 매물 알림톡 정보
              required:
              - list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/agents:
    get:
      tags:
      - Apartment
      summary: getAptAgents
      operationId: getAptAgents
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/items:
    get:
      tags:
      - Sale (My)
      summary: getAptItems
      operationId: getAptItems
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      - name: isDanjiDetailItem
        in: query
        required: false
        schema:
          type: boolean
        description: true일 경우 단지상세에 표시될 매물이 내려간다.
      - name: danjiDetailItemCount
        in: query
        required: false
        schema:
          type: integer
        description: isDanjiDetailItem값이 true인 경우에만 유효하며 해당 갯수만큼 단지상세에 매물이 내려간다.(기본값:2)
      - name: tradeTypes
        in: query
        required: false
        schema:
          type: string
          description: 거래유형 콤마구분 (0:매매, 1:전세, 2:월세)
        description: '거래유형(0:매매, 1:전세, 2: 월세)'
      - name: areaNos
        in: query
        required: false
        schema:
          type: string
        description: 면적유형 번호(isDanjiDetailItem값이 true인 경우 필수)
      - name: itemIds
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 해당 아파트에 유효한 특정 매물들을 가져오고 싶을 때 사용
      - name: offset
        in: query
        required: false
        schema:
          type: integer
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: itemContentType
        in: query
        required: false
        schema:
          type: string
        description: '매물 타입: VR, 사진 매물..'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/item-report:
    get:
      tags:
      - Sale (My)
      summary: getAptItemReport
      operationId: getAptItemReport
      parameters:
      - name: tradeTypes
        in: query
        required: true
        schema:
          type: string
          description: 거래유형 콤마구분 (0:매매, 1:전세, 2:월세)
        description: '거래유형(0:매매, 1:전세, 2: 월세)'
      - name: areaNo
        in: query
        required: true
        schema:
          type: integer
        description: 면적유형 번호
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/item-summary:
    get:
      tags:
      - Sale (My)
      summary: getAptItemSummary
      operationId: getAptItemSummary
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
        description: 아파트 해시
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/agents/{agentId}/inquiry:
    post:
      tags:
      - Apartment
      summary: postAptInquiry
      operationId: postAptInquiry
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
        description: 아파트 해시
      - name: agentId
        in: path
        required: true
        schema:
          type: string
        description: 중개사 번호
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                callType:
                  type: string
                  enum:
                  - call
                  - callback
                  description: '바로전화걸기: call, 콜백요청: callback'
                sellAptId:
                  type: integer
                  description: 집내놓기가 있을 경우 집내놓기 id
                itemId:
                  type: string
                  description: 이미 내놓은 매물을 수정 요청하는 경우 해당 매물 id
                uuid:
                  type: string
                  description: 문의자의 UUID
              required:
              - callType
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/dongs:
    get:
      tags:
      - Apartment
      summary: getAptDongs
      operationId: getAptDongs
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/dongs/{aptDongId}:
    get:
      tags:
      - Apartment
      summary: getAptHos
      operationId: getAptHos
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      - name: aptDongId
        in: path
        required: true
        schema:
          type: string
        description: 아파트 동아이디
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/agents/{agentId}/direct-consulting:
    post:
      tags:
      - Apartment
      summary: postAptDirectConsulting
      operationId: postAptDirectConsulting
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      - name: agentId
        in: path
        required: true
        schema:
          type: string
        description: 중개사 번호
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                inquiryDevice:
                  type: string
                  description: 문의한 디바이스 종류 (mobile, android, ios ...)
                adid:
                  type: string
                uuid:
                  type: string
                  description: 문의자의 UUID
                directConsultingRequestResult:
                  type: string
                  description: 즉시중개 Type
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/visitor:
    get:
      tags:
      - Apartment
      summary: getAptVisitor
      operationId: getAptVisitor
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/recent-visits:
    get:
      tags:
      - Apartment
      summary: getRecentVisitApts
      operationId: getRecentVisitApts
      parameters:
      - name: list
        in: query
        required: true
        schema:
          type: string
      - name: hideUserTopApt
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/newhigh/{regionCode}:
    get:
      tags:
      - Apartment
      summary: getNewhighApts
      operationId: getNewhighApts
      parameters:
      - name: regionCode
        in: path
        required: true
        schema:
          type: string
      - name: tradeType
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          description: 0:매매, 1:전세, 2:월세
      - name: period
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/delivery-infra:
    get:
      tags:
      - Apartment
      summary: getAptDeliveryInfra
      operationId: getAptDeliveryInfra
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/monthly-reports:
    get:
      tags:
      - Apartment
      summary: getAptMonthlyReport
      operationId: getAptMonthlyReport
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      - name: tradeType
        in: query
        required: true
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          description: 0:매매, 1:전세, 2:월세
      - name: areaNo
        in: query
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/monthly-reports/more:
    get:
      tags:
      - Apartment
      summary: getAptMonthlyReportMore
      operationId: getAptMonthlyReportMore
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      - name: tradeType
        in: query
        required: true
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          description: 0:매매, 1:전세, 2:월세
      - name: areaNo
        in: query
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/monthly-reports/comparisons:
    get:
      tags:
      - Apartment
      summary: getAptMonthlyReportComparison
      operationId: getAptMonthlyReportComparison
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      - name: areaNo
        in: query
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/monthly-reports/histogram:
    get:
      tags:
      - Apartment
      summary: getAptMonthlyReportsHistogram
      operationId: getAptMonthlyReportsHistogram
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      - name: areaNo
        in: query
        required: true
        schema:
          type: integer
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: tradeType
        in: query
        required: true
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          description: 0:매매, 1:전세, 2:월세
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/trade-real:
    get:
      tags:
      - Apartment
      summary: getAptTradeReal
      operationId: getAptTradeReal
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      - name: tradeType
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          description: 0:매매, 1:전세, 2:월세
        description: 거래 타입 (0:매매,1:전세,2:월세)
      - name: areaNo
        in: query
        required: false
        schema:
          type: integer
      - name: start
        in: query
        required: false
        schema:
          type: string
      - name: auctionSinceDate
        in: query
        required: false
        schema:
          type: string
      - name: preOpenTradeRealSinceDate
        in: query
        required: false
        schema:
          type: string
        description: 실거래 더보기시 이전페이지에 있는 선공개 실거래 날짜
      - name: date
        in: query
        required: false
        schema:
          type: string
        description: 최근3년, 전체기간에서 그래프를 클릭했을때 사용되는 값
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/monthly-reports/area-type/compare:
    post:
      tags:
      - Apartment
      summary: getAptMonthlyAreaTypeCompare
      operationId: getAptMonthlyAreaTypeCompare
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                areas:
                  type: array
                  items:
                    type: string
              required:
              - areas
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/closest:
    get:
      tags:
      - Apartment
      summary: getAptsClosest
      operationId: getAptsClosest
      parameters:
      - name: x
        in: query
        required: true
        schema:
          type: number
          format: double
      - name: y
        in: query
        required: true
        schema:
          type: number
          format: double
      - name: limit
        in: query
        required: false
        schema:
          type: integer
        description: limit값이 없는 경우 1로 설정
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/polygon:
    get:
      tags:
      - Apartment
      summary: getAptPolygon
      operationId: getAptPolygon
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/simple:
    get:
      tags:
      - Apartment
      summary: getAptSimple
      operationId: getAptSimple
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
        description: 아파트 해시
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/room-types:
    get:
      tags:
      - Apartment
      summary: getZigbangRoomTypes
      operationId: getZigbangRoomTypes
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
        description: 아파트 해시
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/b2b/apts/invalid:
    post:
      tags:
      - B2B
      summary: postInvalidApts
      operationId: postInvalidApts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                  description: 아파트ID 배열(5000개 이하)
              required:
              - ids
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/b2b/apts/detail/{aptHash}:
    get:
      tags:
      - B2B
      summary: getAptDetailInfo
      operationId: getAptDetailInfo
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
        description: 아파트 해시
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apt-pro-agents/{aptProAgentId}:
    get:
      tags:
      - Misc
      summary: getAptProAgent
      operationId: getAptProAgent
      parameters:
      - name: aptProAgentId
        in: path
        required: true
        schema:
          type: string
        description: 아파트 프로 중개사 ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apt-pro-agents/{aptProAgentId}/items:
    get:
      tags:
      - Sale (My)
      summary: getAptProAgentItems
      operationId: getAptProAgentItems
      parameters:
      - name: aptProAgentId
        in: path
        required: true
        schema:
          type: string
        description: 아파트 프로 중개사 ID
      - name: page
        in: query
        required: false
        schema:
          type: string
      - name: aptHash
        in: query
        required: false
        schema:
          type: string
      - name: tradeType
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 2
          description: 0:매매, 1:전세, 2:월세
        description: '0: 매매, 1: 전세, 2: 월세'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apt-pro-agents/{aptProAgentId}/inquiries:
    post:
      tags:
      - Sale (My)
      summary: inquireToAptProAgent
      operationId: inquireToAptProAgent
      parameters:
      - name: aptProAgentId
        in: path
        required: true
        schema:
          type: string
        description: 아파트 프로 중개사 ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                inquiryType:
                  type: string
                callType:
                  type: string
                  enum:
                  - call
                  - callback
                  description: '바로전화걸기: call, 콜백요청: callback'
                aptHash:
                  type: string
                itemId:
                  type: string
                uuid:
                  type: string
                  description: 문의자의 UUID
              required:
              - inquiryType
              - callType
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apt-recommends/histories:
    get:
      tags:
      - Misc
      summary: getOldRecommendedResults
      operationId: getOldRecommendedResults
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apt-recommends:
    patch:
      tags:
      - Misc
      summary: patchAptRecommendUserId
      operationId: patchAptRecommendUserId
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recommendRequestIds:
                  type: string
              required:
              - recommendRequestIds
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apt-recommends/regions:
    get:
      tags:
      - Map
      summary: getRecommendedAptRegions
      operationId: getRecommendedAptRegions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apt-recommends/{recommendAptRequestHash}:
    get:
      tags:
      - Misc
      summary: getRecommendedApts
      operationId: getRecommendedApts
      parameters:
      - name: recommendAptRequestHash
        in: path
        required: true
        schema:
          type: string
        description: 추천 아파트 요청 hash(recommend_apt_request.hash)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/reviews:
    get:
      tags:
      - Apartment
      summary: getAptReviews
      operationId: getAptReviews
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      - name: orderType
        in: query
        required: true
        schema:
          type: integer
          enum:
          - 1
          - 2
          description: 1:추천순, 2:최신순
        description: '정렬 타입(1: 추천순, 2: 최신순)'
      - name: page
        in: query
        required: false
        schema:
          type: string
      - name: hasPhotos
        in: query
        required: false
        schema:
          type: string
      - name: reviewId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/reviews/summary:
    get:
      tags:
      - Apartment
      summary: getAptSummaryReviews
      operationId: getAptSummaryReviews
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      - name: reviewId
        in: query
        required: false
        schema:
          type: string
      - name: commentId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/reviews/photos:
    get:
      tags:
      - Apartment
      summary: getAptPhotoReviews
      operationId: getAptPhotoReviews
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: string
      - name: orderType
        in: query
        required: false
        schema:
          type: integer
          enum:
          - 1
          - 2
          description: 1:추천순, 2:최신순
        description: '정렬 타입(1: 추천순, 2: 최신순)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/reviews/{reviewId}:
    get:
      tags:
      - Apartment
      summary: getAptReview
      operationId: getAptReview
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      - name: reviewId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      tags:
      - Apartment
      summary: removeAptReview
      operationId: removeAptReview
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      - name: reviewId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/reviews/{reviewId}/vote:
    put:
      tags:
      - Apartment
      summary: voteAptReview
      operationId: voteAptReview
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      - name: reviewId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
              required:
              - type
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/reviews/{reviewId}/claim:
    patch:
      tags:
      - Apartment
      summary: claimAptReview
      operationId: claimAptReview
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      - name: reviewId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                content:
                  type: string
              required:
              - reason
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/reviews/{reviewId}/comments:
    get:
      tags:
      - Apartment
      summary: getAptComments
      operationId: getAptComments
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      - name: reviewId
        in: path
        required: true
        schema:
          type: string
      - name: since
        in: query
        required: false
        schema:
          type: integer
        description: 조회할 기준 comment id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Apartment
      summary: addAptComment
      operationId: addAptComment
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      - name: reviewId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                photos:
                  type: string
                content:
                  type: string
                  description: 내용
                parentCommentId:
                  type: string
                  description: 대댓글인 경우 부모 댓글 id
                logId:
                  type: string
                  description: 사전 필터링 log id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/reviews/{reviewId}/comments/{commentId}:
    delete:
      tags:
      - Apartment
      summary: removeAptComment
      operationId: removeAptComment
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      - name: reviewId
        in: path
        required: true
        schema:
          type: string
      - name: commentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/reviews/{reviewId}/comments/{commentId}/vote:
    put:
      tags:
      - Apartment
      summary: voteAptReviewComment
      operationId: voteAptReviewComment
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      - name: reviewId
        in: path
        required: true
        schema:
          type: string
      - name: commentId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
              required:
              - type
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/apts/{aptHash}/reviews/{reviewId}/comments/{commentId}/claim:
    patch:
      tags:
      - Apartment
      summary: claimAptComment
      operationId: claimAptComment
      parameters:
      - name: aptHash
        in: path
        required: true
        schema:
          type: string
      - name: reviewId
        in: path
        required: true
        schema:
          type: string
      - name: commentId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                content:
                  type: string
              required:
              - reason
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/b2b/area-danjis/{areaDanjiId}:
    get:
      tags:
      - B2B
      summary: getAptByAreaDanjiId
      operationId: getAptByAreaDanjiId
      parameters:
      - name: areaDanjiId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/b2b/area-danjis/{areaDanjiId}/one-to-one:
    get:
      tags:
      - B2B
      summary: checkOneToOneApt
      operationId: checkOneToOneApt
      parameters:
      - name: areaDanjiId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/b2b/area-danjis/non-one-to-one:
    get:
      tags:
      - B2B
      summary: getNonOneToOneApts
      operationId: getNonOneToOneApts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/asset-managements:
    post:
      tags:
      - Asset / Loan
      summary: postAssetManagement
      operationId: postAssetManagement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                householderType:
                  type: integer
                  enum:
                  - 0
                  - 1
                  - 2
                  - 3
                  description: '0: 집주인 - 자가 거주, 1: 집주인 - 임대, 2: 세입자 - 전세, 3: 세입자 - 월세'
                aptHash:
                  type: string
                  description: 아파트 해시
                dong:
                  type: string
                  description: 동이름
                ho:
                  type: string
                  description: 호이름
                areaId:
                  type: integer
                  description: 면적번호
                tradeYear:
                  type: integer
                  description: 매매시기(연도)
                tradeMonth:
                  type: integer
                  description: 매매시기(월)
                tradePrice:
                  type: integer
                  description: 매입가격
                expireYear:
                  type: integer
                  description: 계약종료시기(연도)
                expireMonth:
                  type: integer
                  description: 계약종료시기(월)
                depositPrice:
                  type: integer
                  description: 보증금
                rentPrice:
                  type: integer
                  description: 월세
                loanPrice:
                  type: string
                  description: 잔여 대출금
                shareRate:
                  type: integer
                  description: 지분율
                sortType:
                  type: integer
                  enum:
                  - 1
                  - 2
                  description: '정렬 타입(1: 관련도순, 2: 최신순)'
              required:
              - householderType
              - aptHash
              - dong
              - ho
              - areaId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags:
      - Asset / Loan
      summary: getAssetManagements
      operationId: getAssetManagements
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/asset-managements/regulations:
    get:
      tags:
      - Asset / Loan
      summary: getRegulations
      operationId: getRegulations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/asset-managements/apts:
    get:
      tags:
      - Asset / Loan
      summary: getAssetManagementApts
      operationId: getAssetManagementApts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/asset-managements/{assetId}/summary:
    get:
      tags:
      - Asset / Loan
      summary: getAssetSummary
      operationId: getAssetSummary
      parameters:
      - name: assetId
        in: path
        required: true
        schema:
          type: string
        description: 자산관리 ID (safe_notification.id)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/asset-managements/{assetId}/apt-report:
    get:
      tags:
      - Asset / Loan
      summary: getAssetAptReport
      operationId: getAssetAptReport
      parameters:
      - name: assetId
        in: path
        required: true
        schema:
          type: string
        description: 자산관리 ID (safe_notification.id)
      - name: newsCursor
        in: query
        required: false
        schema:
          type: string
        description: 뉴스 커서 (페이지네이션)
      - name: newsLimit
        in: query
        required: false
        schema:
          type: integer
        description: '뉴스 조회 개수 (기본값: 5)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/asset-managements/{assetManagementId}:
    put:
      tags:
      - Asset / Loan
      summary: putAssetManagement
      operationId: putAssetManagement
      parameters:
      - name: assetManagementId
        in: path
        required: true
        schema:
          type: string
        description: 자산관리 ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                aptAreaId:
                  type: string
                  description: 면적번호
                tradeYear:
                  type: integer
                  description: 매매시기(연도)
                tradeMonth:
                  type: integer
                  description: 매매시기(월)
                tradePrice:
                  type: integer
                  description: 매입가격
                expireYear:
                  type: integer
                  description: 계약종료시기(연도)
                expireMonth:
                  type: integer
                  description: 계약종료시기(월)
                depositPrice:
                  type: integer
                  description: 보증금
                rentPrice:
                  type: integer
                  description: 월세 (월세임대인 경우 1 이상 필수)
                loanPrice:
                  type: string
                  description: 잔여 대출금
                shareRate:
                  type: integer
                  description: 지분율
                householderType:
                  type: integer
                  enum:
                  - 0
                  - 1
                  - 2
                  - 3
                  description: '0: 집주인 - 자가 거주, 1: 집주인 - 임대, 2: 세입자 - 전세, 3: 세입자 - 월세'
                residenceMonths:
                  type: integer
                  description: '거주 기간 월수 (소유주 플로우 거주이력, NULL=거주이력 없음/미응답. 예: 2년6개월=30)'
                sortType:
                  type: integer
                  enum:
                  - 1
                  - 2
                  description: '정렬 타입(1: 관련도순, 2: 최신순)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      tags:
      - Asset / Loan
      summary: deleteAssetManagement
      operationId: deleteAssetManagement
      parameters:
      - name: assetManagementId
        in: path
        required: true
        schema:
          type: string
        description: 자산관리 ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/asset-managements/{assetManagementId}/memos:
    post:
      tags:
      - User & Auth
      summary: postAssetManagementMemo
      operationId: postAssetManagementMemo
      parameters:
      - name: assetManagementId
        in: path
        required: true
        schema:
          type: string
        description: 자산관리 ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                  description: 자산관리 메모
              required:
              - content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags:
      - User & Auth
      summary: getAssetManagementMemos
      operationId: getAssetManagementMemos
      parameters:
      - name: assetManagementId
        in: path
        required: true
        schema:
          type: string
        description: 자산관리 아이디(safe_notification.id)
      - name: start
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/asset-managements/{assetManagementId}/memos/{assetManagementMemoId}:
    delete:
      tags:
      - User & Auth
      summary: deleteAssetManagementMemo
      operationId: deleteAssetManagementMemo
      parameters:
      - name: assetManagementId
        in: path
        required: true
        schema:
          type: string
        description: 자산관리 ID
      - name: assetManagementMemoId
        in: path
        required: true
        schema:
          type: string
        description: 자산관리 메모 ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/asset-managements/total-count:
    get:
      tags:
      - Asset / Loan
      summary: getAssetManagementTotalCount
      operationId: getAssetManagementTotalCount
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/auctions/{page}:
    get:
      tags:
      - Auction
      summary: getAuctions
      operationId: getAuctions
      parameters:
      - name: page
        in: path
        required: true
        schema:
          type: string
      - name: x
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: y
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: regionCode
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/auth/facebook:
    get:
      tags:
      - User & Auth
      summary: authFacebook
      operationId: authFacebook
      parameters:
      - name: redirectUrl
        in: query
        required: false
        schema:
          type: string
        description: 리다이렉트 URL
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/auth/facebook/web/local:
    post:
      tags:
      - User & Auth
      summary: authFacebookLocal
      operationId: authFacebookLocal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
              required:
              - code
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/auth/facebook/web:
    post:
      tags:
      - User & Auth
      summary: authFacebookCallback
      operationId: authFacebookCallback
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
              required:
              - code
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/auth/facebook/token:
    post:
      tags:
      - User & Auth
      summary: authFacebookToken
      operationId: authFacebookToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accessToken:
                  type: string
              required:
              - accessToken
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/auth/facebook/user-deletion:
    post:
      tags:
      - User & Auth
      summary: postFacebookUserDeletion
      operationId: postFacebookUserDeletion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signed_request:
                  type: string
              required:
              - signed_request
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/auth/facebook/user-deletion-status:
    get:
      tags:
      - User & Auth
      summary: getFacebookUserDeletionStatus
      operationId: getFacebookUserDeletionStatus
      parameters:
      - name: confirmation_code
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/black-users/region-apt-ranks:
    get:
      tags:
      - Ranking
      summary: getBlackUserRegionAptRanks
      operationId: getBlackUserRegionAptRanks
      parameters:
      - name: year
        in: query
        required: true
        schema:
          type: string
      - name: time
        in: query
        required: true
        schema:
          type: string
      - name: interval
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/black-users/top-apt-ranks:
    get:
      tags:
      - Ranking
      summary: getBlackUserTopAptRanks
      operationId: getBlackUserTopAptRanks
      parameters:
      - name: year
        in: query
        required: true
        schema:
          type: string
      - name: time
        in: query
        required: true
        schema:
          type: string
      - name: interval
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/black-users/invitation:
    post:
      tags:
      - Ranking
      summary: postBlackUserInvitation
      operationId: postBlackUserInvitation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
              required:
              - code
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/chat/channels:
    post:
      tags:
      - Chat
      summary: createChannel
      operationId: createChannel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                inquiryPath:
                  type: string
                itemId:
                  type: string
                  description: 매물 ID
                aptHash:
                  type: string
                  description: 아파트 해시 (단지 채팅방 생성시)
                itemSource:
                  type: string
                  enum:
                  - zigbang
                  - coalition
                realtorId:
                  type: string
                  description: 대표중개사 ID
                subAgentId:
                  type: string
                  description: 소속중개원 ID
                messageId:
                  type: string
                  description: 오동픽 message ID. 채팅방 개설 전에 상태 체크용입니다.
                title:
                  type: string
                  description: 오동픽 title. 오동픽 채팅방 생성시 필요합니다.
              required:
              - inquiryPath
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/chat/channels-v2:
    post:
      tags:
      - Chat
      summary: createChannelV2
      operationId: createChannelV2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                inquiryPath:
                  type: string
                itemId:
                  type: string
                  description: 매물 ID
                aptHash:
                  type: string
                  description: 아파트 해시 (단지 채팅방 생성시)
                itemSource:
                  type: string
                  enum:
                  - zigbang
                  - coalition
                realtorId:
                  type: string
                  description: 대표중개사 ID
                subAgentId:
                  type: string
                  description: 소속중개원 ID
                messageId:
                  type: string
                  description: 오동픽 message ID. 채팅방 개설 전에 상태 체크용입니다.
                title:
                  type: string
                  description: 오동픽 title. 오동픽 채팅방 생성시 필요합니다.
              required:
              - inquiryPath
              - realtorId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/chat/channels/list:
    post:
      tags:
      - Chat
      summary: getChannelList
      operationId: getChannelList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                channelUrls:
                  type: array
                  items:
                    type: string
                  description: 채널 URL 리스트
              required:
              - channelUrls
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/chat/channels/{channelUrl}:
    get:
      tags:
      - Chat
      summary: getChatChannel
      operationId: getChatChannel
      parameters:
      - name: channelUrl
        in: path
        required: true
        schema:
          type: string
        description: Sendbird 채팅방 고유 식별자 (채팅방 생성 시 반환된 채널 URL)
      - name: historyInquiryPath
        in: query
        required: false
        schema:
          type: string
        description: 채널 문의 이력 조회 경로 타입
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/chat/channels/{channelUrl}/close:
    delete:
      tags:
      - Chat
      summary: closeChannel
      operationId: closeChannel
      parameters:
      - name: channelUrl
        in: path
        required: true
        schema:
          type: string
        description: Sendbird 채팅방 고유 식별자 (채팅방 생성 시 반환된 채널 URL)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/chat/channels/{channelUrl}/messages:
    post:
      tags:
      - Chat
      summary: sendMessage
      operationId: sendMessage
      parameters:
      - name: channelUrl
        in: path
        required: true
        schema:
          type: string
        description: Sendbird 채팅방 고유 식별자 (채팅방 생성 시 반환된 채널 URL)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customType:
                  type: string
                  description: '메시지 타입 분류를 위한 사용자 정의 타입 (예: ''notification'', ''alert'', ''promotion'')'
                data:
                  type: string
                  description: 메시지 데이터 (구조화된 데이터)
                sendPush:
                  type: boolean
                  description: 센드버드 푸시 발송 여부
                message:
                  type: string
                  description: 채팅방 리스트 조회시 마지막 메시지로 등록됨
                messageType:
                  type: string
              required:
              - data
              - sendPush
              - message
              - messageType
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/chat/channels/{channelUrl}/add-history:
    post:
      tags:
      - Chat
      summary: addChannelHistory
      operationId: addChannelHistory
      parameters:
      - name: channelUrl
        in: path
        required: true
        schema:
          type: string
        description: Sendbird 채팅방 고유 식별자 (채팅방 생성 시 반환된 채널 URL)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                inquiryPath:
                  type: string
                itemId:
                  type: string
                  description: 매물 ID
                itemSource:
                  type: string
                  enum:
                  - zigbang
                  - coalition
                aptHash:
                  type: string
                  description: 아파트 해시 (단지 채팅방 생성시)
                realtorId:
                  type: string
                  description: 대표중개사 ID
                messageId:
                  type: string
                  description: 오동픽 message ID
                title:
                  type: string
                  description: 오동픽 title
              required:
              - inquiryPath
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/chat/settings:
    get:
      tags:
      - Chat
      summary: getChatSettings
      operationId: getChatSettings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/chat/apt-channels/join:
    post:
      tags:
      - Chat
      summary: joinAptChannelLegacy
      operationId: joinAptChannelLegacy
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/chat/apt-channels/{channelUrl}/join:
    post:
      tags:
      - Chat
      summary: joinAptChannel
      operationId: joinAptChannel
      parameters:
      - name: channelUrl
        in: path
        required: true
        schema:
          type: string
        description: '채팅방 채널 URL (예: resident_channel_hgnn_12345)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/chat/apt-channels/owner-verified-list:
    get:
      tags:
      - Chat
      summary: getAptChannels
      operationId: getAptChannels
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/communities/reviews:
    get:
      tags:
      - Community
      summary: getReviews
      operationId: getReviews
      parameters:
      - name: communityType
        in: query
        required: false
        schema:
          type: string
          enum:
          - apts
          - expert-columns
          - regions
        description: 커뮤니티 리뷰 종류
      - name: lat
        in: query
        required: false
        schema:
          type: number
          format: double
        description: 위도 (28~50, regionCode와 둘 중 하나 필수)
      - name: lng
        in: query
        required: false
        schema:
          type: number
          format: double
        description: 경도 (110~150, lat과 함께 사용)
      - name: regionCode
        in: query
        required: false
        schema:
          type: string
        description: 지역 코드 (10자리, lat/lng와 둘 중 하나 필수)
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: 커서 값(이전 페이지에서 가져온 값 사용)
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
        description: 페이지당 아이템 수
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Community
      summary: addCommunityReview
      operationId: addCommunityReview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                communityType:
                  type: string
                  enum:
                  - apts
                  - expert-columns
                  - regions
                photos:
                  type: string
                logId:
                  type: string
                  description: 사전 필터 검사(checkPreBanishedWords) 후 리턴된 logId
                content:
                  type: string
                  description: 내용
                hash:
                  type: string
                  description: 살아본 이야기의 경우 apt.hash
              required:
              - communityType
              - content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/communities/reviews/status:
    get:
      tags:
      - Community
      summary: getCommunityReviewStatus
      operationId: getCommunityReviewStatus
      parameters:
      - name: communityType
        in: query
        required: true
        schema:
          type: string
          enum:
          - apts
          - expert-columns
          - regions
      - name: reviewId
        in: query
        required: false
        schema:
          type: string
      - name: commentId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/communities/reviews/{reviewId}:
    get:
      tags:
      - Community
      summary: getReviewById
      operationId: getReviewById
      parameters:
      - name: reviewId
        in: path
        required: true
        schema:
          type: string
      - name: communityType
        in: query
        required: true
        schema:
          type: string
          enum:
          - apts
          - expert-columns
          - regions
      - name: isFromSsr
        in: query
        required: false
        schema:
          type: boolean
        description: SSR 호출 여부
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      tags:
      - Community
      summary: removeCommunityReview
      operationId: removeCommunityReview
      parameters:
      - name: reviewId
        in: path
        required: true
        schema:
          type: string
      - name: communityType
        in: query
        required: true
        schema:
          type: string
          enum:
          - apts
          - expert-columns
          - regions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/communities/reviews/{reviewId}/related:
    get:
      tags:
      - Community
      summary: getRelatedStories
      operationId: getRelatedStories
      parameters:
      - name: reviewId
        in: path
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
        description: 각 목록의 최대 개수
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/communities/reviews/{reviewId}/claim:
    post:
      tags:
      - Community
      summary: claimCommunityReview
      operationId: claimCommunityReview
      parameters:
      - name: reviewId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                communityType:
                  type: string
                  enum:
                  - apts
                  - expert-columns
                  - regions
                reason:
                  type: string
                content:
                  type: string
              required:
              - communityType
              - reason
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/communities/reviews/{reviewId}/vote:
    post:
      tags:
      - Community
      summary: voteCommunityReview
      operationId: voteCommunityReview
      parameters:
      - name: reviewId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                communityType:
                  type: string
                  enum:
                  - apts
                  - expert-columns
                  - regions
                voteType:
                  type: string
              required:
              - communityType
              - voteType
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
[...]
